@font-face {
    font-family: 'tt_masters_demo_blackregular';
    src: url('../fonts/tt-masters-demo.mastersdemoblack-webfont.eot');
    src: url('../fonts/tt-masters-demo.mastersdemoblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tt-masters-demo.mastersdemoblack-webfont.woff2') format('woff2'),
         url('../fonts/tt-masters-demo.mastersdemoblack-webfont.woff') format('woff'),
         url('../fonts/tt-masters-demo.mastersdemoblack-webfont.ttf') format('truetype'),
         url('../fonts/tt-masters-demo.mastersdemoblack-webfont.svg#tt_masters_demo_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'NokiaSansS60-Regular';
  src: url('../fonts/NokiaSansS60-Regular.eot');
  src: url('../fonts/NokiaSansS60-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NokiaSansS60-Regular.woff2') format('woff2'),
       url('../fonts/NokiaSansS60-Regular.woff') format('woff'),
       url('../fonts/NokiaSansS60-Regular.ttf') format('truetype'),
       url('../fonts/NokiaSansS60-Regular.svg#NokiaSansS60-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
font-family: 'tt_masters_demo_rough_thin';
src: url("../fonts/TT_Masters_DEMO_Rough_Thin.otf") format("opentype");
}


body {

}

/*=== Header intro ===*/
header {

    background-position: center;
    background-image: url(../images/top_video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:650px;

}

.logo_img {
    display: block;
    margin: 0 auto;
}


.intro_wr {
    width: 100%;
    text-align: center;
    margin-top: 50px;

}

.right_wreath {
    display: inline-block;
    margin-left: 20px;
    width:103px;
    height: 202px;
}
.left_wreath {
    display: inline-block;
    width: 103px;
    height: 202px;
}
.txt_after_logo {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: white;
    width: 460px;
    margin-left: 20px;
}
.txt_after_logo > h1 {
    font-size: 22px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}
.txt_after_logo  > h3 {
    font-family: 'tt_masters_demo_blackregular';
    font-weight: normal;
    font-size: 16px;
    margin-top: 0;
}
.date {
  font-size: 34px;
  font-family: "tt_masters_demo_blackregular";
  color: rgb( 8, 95, 114 );
}

.date span {
    font-size: 25px;
}
.invite_txt {
    font-size: 12px;
    font-family: 'NokiaSansS60-Regular';
    margin-top: 20px;
    }

/*=== Header intro ===*/

/*=== Map of the island ===*/
.map {



}

.island {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 1151px;
    background-position: center top;
    background-image: url(../images/island.png);
    background-repeat: no-repeat;
    position: relative;
    margin-top:-300px;
}
.island_wr {
    height: 30%;
    margin-bottom:0;
    border: 1px transparent solid;
    background:url(../images/photo_back.png) center center no-repeat,-moz-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat, linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat,-webkit-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat,-webkit-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat,-o-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat,-ms-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background-position: center bottom;
    background-size: cover;
}
.a_point {
    position: absolute;
    background-image:url("../images/point_wh.png");
    width: 20px;
    height: 20px;
}
#a_point1 {
    top: 35%;
    left: 90%;

    
}
#a_point2 {
    top: 30%;
    left: 80%;
}
#a_point3 {
    top: 40%;
    left: 65%;
}
#a_point4 {
    top: 65%;
    left: 55%;
    
}
#a_point5 {
    top: 60%;
    left: 45%;
}
#a_point6 {
    top: 62%;
    left: 37%;
}
#a_point7 {
    top: 60%;
    left: 15%;
    
}
#a_point8 {
    top: 70%;
    left: 7%;
}
#a_point9 {
    top: 40%;
    left: 15%;
}
#a_point0 {
    /*border:2px solid green;*/
    top: 38%;
    left: 30%;
}

/*#point1 {

}*/
/*.point circle:hover {
    fill: blue;
}*/

.popup {
    position: absolute;
    display: none;
    width: 300px;
    background-color: #fc8985;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    color: white;
}
.popup h4 {
    font-family: "tt_masters_demo_blackregular";
    font-size: 16px;
    margin-left: 1em;
    margin-bottom: 0;
}


.popup p {
    font-family: "Tahoma";
    font-size: 14px;
    margin-left: 1em;
    margin-right: 1em;

}
#popup1 {
    top: 300px;
    left: 50%;
}
#popup2 {
    top: 180px;
    left: 50%;
}
#popup3 {
    top: 500px;
    left: 70%;
}
#popup4 {
    top: 800px;
    left: 65%;
}
#popup5 {
    top: 890px;
    left: 40%;
}
#popup6 {
    top: 830px;
    left: 15%;
}
#popup7 {
    top: 700px;
    left: 7%;
}
#popup8 {
    top: 980px;
    left: 5%;
}
#popup9 {
    top: 300px;
    left: 5%;
}
#popup0 {
    top: 300px;
    left: 28%;
}
.line {
    display: none;
    z-index: 1;
}
#wrap {
    display: none;
    height: 230px;
    margin-top: -100px;
    background:-moz-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background: linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:-webkit-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:-webkit-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:-o-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:-ms-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    z-index: 2;
}
#div_under_map {
    display: none;
    position: absolute;
    background-color: #fc8985;
    width: 70%;
    height: 170px;
    right:0;
    left:0;
    margin-left:auto;
    margin-right: auto;
    top: 840px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
#fixed_div {
    display: none;
    width: 80%;
    height: 200px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fc8985;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
#fixed_div h4{
	padding-top: 10px;

}
#fixed_div p{

	padding-bottom: 10px;
}
.visible {
    display: block !important;
}
/*=== Map of the island ===*/

/*=== Video and photo ===*/

/*STYLES FOR CSS POPUP*/


#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}
#popUpDiv2,
#popUpDiv1 {
    position:absolute;
    width:800px;
    height:400px;
    border:5px solid #000;
    z-index: 9002;
    border: solid 30px #ea7065;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    left:0;
    right:0;
    margin-left :auto;
    margin-right: auto;
}
.exit {
    position: relative;
    top: -115%;
    right: -53%;
}
#popUpDiv > a > img {
    position: relative;
    top:-115%;
    right:-54%}


/*STYLES FOR CSS POPUP*/


.video_photo {
    width: 100%;
    text-align: center;
    background:url(../images/photo_back.png) center center no-repeat,-moz-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat, linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat,-webkit-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat,-webkit-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat,-o-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:url(../images/photo_back.png) center center no-repeat,-ms-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background-position: center bottom;
    background-size: cover;
    margin-top: -20px;

}

.video_photo h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: white;
    padding-top: 50px;
}

.video {
    background-image: url(../images/video.png);
    height: 230px;
    width: 400px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    border: solid 18px #ea7065;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    position:relative;
}
 #video_click {
        width:90px;
        height: 90px;
        background-image: url(../images/pink_circle.png);
        margin-left: auto;
        margin-right: auto;
        margin-top: 35%;
        position: absolute;
        top:50%;
        margin-top:-45px;
        left:50%;
        margin-left:-50px;
    }
.video_img {
    width:100%;
    height:100%;
}
.pink_circle {
    position: relative;
    top: -10em;
    left: 2px;

}
.white_triangle {
    margin-top:25px;
}
.photo_arrows {
    text-align: center;
    display: inline-block;
    width: 570px;
    margin-left: 50px;
}
#photo_arrow_left {
    display: inline-block;
    vertical-align: top;
    margin-top: 120px;
    margin-right: 10px;
 
}
#photo_arrow_right {
    display: inline-block;
    vertical-align: top;
     margin-top: 120px;
     margin-left: 10px;
 
}
.photo_wrapper {
    display: inline-block;
    overflow: hidden;
    width: 460px;
    height: 205px;
/*    border: solid white 1px;*/
    margin-top: 35px;
    margin-left: 5px;
}
.overflow_visible {
    overflow: visible;
}
.photo {
    height: 90px;
    width: 140px;
    display: inline-block;
    border: solid 4px #ea7065;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    cursor: url(../images/zoom.png), auto;
}
.photo_visible {
    display: none;
}


#slider {
    width: 1375px;
    height: 205px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
    -moz-transform:    translateX(0);
     -o-transform:      translateX(0);
     -webkit-transform: translateX(0);
     transform:         translateX(0);
}
.slider_nav {
  margin-top: 5px;
}
.slider_nav_el {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
}
.bigger {
    position: absolute;
    top: 1500px;
    width: 40%;
    height: 400px;
    z-index: 9005;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    cursor: url(../images/zoom.png), auto;
    display:none;
    border: solid 3px #fc8985;
}

/*#photo_1 {
    background-image: url(../images/photo_1.png);
}
#photo_2 {
    background-image: url(../images/photo_2.png);
}
#photo_3 {
    background-image: url(../images/photo_3.png);
}
#photo_4 {
    background-image: url(../images/photo_4.png);
}
#photo_5 {
    background-image: url(../images/photo_5.png);
}
#photo_6 {
    background-image: url(../images/photo_6.png);
}*/

/*=== Video and photo ===*/

/*=== Team ===*/
.our_team {
    width: 100%;
    text-align: center;
    height: 1300px;
}
.our_team h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: white;
}
.our_team h3 {
    text-align: center;
    font-size: 20px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: #773533;
}

.team_mem {
    width: 280px;
    height: 145px;
    display: inline-block;
    vertical-align: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.team_mem_img {
    width: 100%;
}
.team_mem_p {
  font-size: 11px;
  font-family: "Tahoma";
  color: #773533;
}
#right_team {
    margin-left: 40px;
}

.circle_wrapper {
    margin-top: 150px;
}
.circle {
    width: 140px;
    height: 140px;
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;
    border-radius: 140px;
    background-color: #eb7265;
    display: inline-block;
    vertical-align: top;
}
.inner_circle {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    margin-left:10px;
    margin-top: 10px;
}
#inner_1 {
    background-image: url(../images/ruzov.png); 
}
#inner_2 {
    background-image: url(../images/chagaev.png); 
}
#inner_3 {
    background-image: url(../images/eliseeva.png); 
}
#inner_4 {
    background-image: url(../images/semenova.png); 
}
#circle_2,
#circle_3,
#circle_4 {
    margin-left: 158px;
}
.circle > h2 {
    font-size: 22px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: white;
    white-space: nowrap;
}

.ruzov_name {
    margin-left: -20px;
}
.chagaev_name {
    margin-left: -20px;
}
.eliseeva_name {
    margin-left: -30px;
}
.semenova_name {
    margin-left: -20px;
}
.circle > p {
    font-family: "Tahoma";
    color: white;
    font-size: 12px;
    width: 150px;
}

.circle_wrap1,
.circle_wrap2 {
    display: inline;
}

/*=== Team ===*/

/*=== Reviews ===*/

.reviews {
    width: 100%;
    text-align: center;
/*    background:-moz-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
    background:linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
     background:-webkit-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
     background:-webkit-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
     background:-o-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
     background:-ms-linear-gradient(left,  #e16663 15%,#fc8985 30%,#fc8985 70%,#e16663 85%);
     background-position: center bottom;
     background-size: cover;*/
}

.reviews .video_review > h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: white;
}
.video2 {
    position: relative;
    width: 96%;
    height: 78%;
    background-image: url(../images/video2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}
.video_review {
    background-image: url(../images/review_back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 720px;
    margin: 0 auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}

/*=== Reviews ===*/

/*=== Price ===*/

.price {
    margin-top: -300px;
    padding-bottom: 150px;
    background-image:
    url(../images/white_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.price:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #076070;
    z-index: -1;
}
.price_wr {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}
/*.ins_pr_wr {
    margin-bottom: 0;
    border: solid 1px transparent;
    height: 10%;
    background-color: #076070;
}*/
.price h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: #3b3b3b;
}
.park_beach {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+21,eaeaea+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 21%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 21%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 21%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 21%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 21%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
 /* IE6-9 */
/*  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;*/
}
.hotel_img_1 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    height: 299px;
    background-image: url(../images/hotel.png);
    background-size: cover;
    width:400px;
    display: inline-block;
    margin-left:0;
    vertical-align: top;
}

.blue {
        color: #0c7da5;
}
.park_txt {
/*    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;*/
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    padding-left: 20px;
    margin-right: 20px;
    display: inline-block;
    width:60%;
    vertical-align: top;
}
.park_txt > h2 {
    margin-top: 0;
    color: #0c7da5;
}


.park_txt > p {

    font-size: 12px;
    font-family: "Tahoma";
}
.hotel {
    text-align: right;
    font-size: 12px;
    font-family: "Tahoma";
    width: 1220px;
/*    height: 205px;*/
}
hr {
    border-color:#f2f2f2;
    opacity: 0.4;
}
.hotel_p {
    padding-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.hotel_img {
    float: right;
    margin-right: 5%;
    padding-left: 10px;
}

.beach {
    text-align: left;
    font-size: 12px;
    font-family: "Tahoma";
    width: 1220px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}
.beach_p {
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:50px;
}
.beach_img {
    float: left;
    margin-right: 5%;
}
.photo_line {
    display: inline-block;
    margin-top: 60px;
}
.room {
    width: 210px;
    margin: 5px;
    cursor: url(../images/zoom.png), auto;
}
.room_wrapper {
    background-image: url(../images/back_room.png);
    display: inline-block;
    background-size: 90% 83%;
    background-repeat: no-repeat;
    background-position: 50% 44%;
}
.room:hover {
    opacity: 0.2;
    
}
.bigger_2 {
    position: absolute;
    top: 1450px;
    width: 500px;
    height: 300px; 
    z-index: 9005;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    cursor: url(../images/zoom.png), auto;
    display: none;
    border: solid 3px #d6d8d3;
}
.photo_wrapper_2 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.room_details {
    width: 1200px;
    font-size: 12px;
    font-family: "Tahoma";
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+21,eaeaea+100 */
background: #ffffff; /* Old browsers */
background:-moz-linear-gradient(top,  #ffffff 21%, #eaeaea 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(21%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  #ffffff 21%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  #ffffff 21%,#eaeaea 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  #ffffff 21%,#eaeaea 100%); /* IE10+ */
background:linear-gradient(to bottom,  #ffffff 21%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}
.room_p {
    margin-left: 40px;
    margin-right: 150px;
    text-align: left;
    padding-top: 50px;
}
.room_img_div {
    height: 220px;
    width: 370px;
}
.room_details_img {
    margin-top: 5px;
    margin-left: 0;

}
/*=== Price ===*/

/*=== Residence ===*/
.res_wr h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: #3b3b3b;
}
.res_wr {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.living {
    display:-moz-flex;
    display:-ms-flex;
    display:-webkit-flex;
    display:flex;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    -webkit-flex-direction:column;
    -webkit-box-orient: vertical;
    flex-direction: column;
}
.fl_row {
    display:-moz-flex;
    display:-ms-flex;
    display:-webkit-flex;
    display:flex;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.fl_col {
    width: 50%;
}
.right_col {
    margin-left: 20px;
}
.fl_col > p {
    margin-left: 25px;
 /*   margin-right: 25px;*/
    font-size: 14px;
    font-family: "Times New Roman";
    margin-top: 0;
}

.cal,
.bed,
.babe_2,
.babe_1 {
    float: left;
    margin-right: 25px;
}
.babe_3 {
    float: left;

}
.avia {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    margin-top: 50px;
    border-radius: 10px;
    border: 3px solid #119398;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.p_wr {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.avia  p {
    font-size: 14px;
    font-family: "Times New Roman";
}
.img_wr {
    margin-left: 25px;
    height: 100%;
    align-self:center;
}
.residence .ul_wr {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.residence .ul_wr > ul {
    text-align: left;
    padding:0;
    margin-left: 15%;
    list-style-image: url(../images/dot.png);
    list-style-position: outside;
    line-height: 2em;
}
.residence .ul_wr > ul > li { 
    padding-left: 1em; 
    font-size: 16px;
}



/*=== Residence ===*/


/*=== Attention ===*/

.attention {
    background-image: url(../images/att_back.png);
    background-repeat: no-repeat;
    height: 1350px;
    background-size: cover;
    margin-top: 0;

}
.att_wr {
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.attention h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: #20cfeb;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 50px;
}
.attention h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: black;
    margin-top: 0;
}
.circle_wrap2_att,
.circle_wrap1_att {
    display: inline;
}
#inner_5 {
    background-image: url(../images/bed_2.png);
    background-repeat: no-repeat; 
}
#inner_6 {
    background-image: url(../images/mp3.png);
    background-repeat: no-repeat; 
}
#inner_7 {
    background-image: url(../images/disk.png);
    background-repeat: no-repeat; 
}
#inner_8 {
    background-image: url(../images/shop.png);
    background-repeat: no-repeat; 
}
#circle_2_att,
#circle_3_att,
#circle_4_att {
    margin-left: 90px;
}
.p_att {
    margin-top: 20px;
    font-family: 'tt_masters_demo_rough_thin';
    font-weight: lighter;
    font-size: 18px;
    color: white;
}



.circle_att {
    margin-top: 80px;
    width: 133px;
    height: 133px;
    -webkit-border-radius: 133px;
    -moz-border-radius: 133px;
    border-radius: 133px;
    background-color: #136574;
    display: inline-block;
    vertical-align: top;
}
.inner_circle_2 {
    width: 113px;
    height: 113px;
    -webkit-border-radius: 113px;
    -moz-border-radius: 113px;
    border-radius: 113px;
    margin-left:10px;
    margin-top: 10px;
}
.attention h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
    color: white;
    margin-top: 170px;
}
.bold {
    font-family: 'tt_masters_demo_blackregular';
    font-weight: lighter;
}
.time_wr {
    width:100%;
    text-align: center;
}
.str_wr {

}
.time {
    position: relative;
    background-color: black;
    display: inline-block;
    vertical-align: top;
    height: 130px;
    width: 80px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.time_pink {
    position: relative;
    background-color: #a55653;
    display: inline-block;
    vertical-align: top;
    height: 130px;
    width: 80px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.time_1 {
    background: -webkit-linear-gradient(#404040, #282727); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#404040, #282727); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#404040, #282727); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#404040, #282727); /* Standard syntax */
    width: 92.5%;
    height: 46%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.time_pink_1 {
    background: -webkit-linear-gradient(#fb837e, #e0605b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fb837e, #e0605b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fb837e, #e0605b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fb837e, #e0605b); /* Standard syntax */
    width: 92.5%;
    height: 46%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.time_2 {
    background: -webkit-linear-gradient(#212020, #060303); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#212020, #060303); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#212020, #060303); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#212020, #060303); /* Standard syntax */
    width: 92.5%;
    height: 46%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.time_pink_2 {
    background: -webkit-linear-gradient(#db5c57, #c03f3a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#db5c57, #c03f3a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#db5c57, #c03f3a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#db5c57, #c03f3a); /* Standard syntax */
    width: 92.5%;
    height: 46%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.value {
    position: absolute;
    left: 30%;
    top: 23%;
    font-family: "Tahoma";
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.time_txt {
    position: absolute;
    font-size: 18px;
    font-family: "Tahoma";
    color: white;
    bottom: -30px;
    left: 55px;
}


/*=== Attention ===*/


/*=== Footer ===*/
footer {
    margin-top: -400px;
    text-align: center;
}
.footer_wr {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.organizer {
    background-color: #00495b;
    display: inline-block;
    width: 370px;
    height: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    vertical-align: top;
    text-align: center;

}
.request {
    background-color: #f3736e;
    display: inline-block;
    height: 320px;
    width: 350px;
    margin-left: 450px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    vertical-align: top;

}
.questions {
    padding-top: 20px;
    font-family: 'tt_masters_demo_rough_thin';
    font-size: 18px;
    color:white;
    font-weight: bolder;

}
.quest_2 {
    font-family: 'tt_masters_demo_blackregular';
}
.contacts {
    font-family: 'tt_masters_demo_rough_thin';
    color: #18b2ce;
    font-size: 20px;
    font-weight: bolder;
}


.dim_cont {
    font-family: "Tahoma";
    color:white;
    font-size: 15px;
}
.green {
    color: #18b2ce;
}


.request > h3 {
    font-size: 30px;
    font-family: 'tt_masters_demo_blackregular';
    color: #8b3835;
    margin-bottom: 20px;
}
#input2{
    margin-top: 15px;
}


.button {
    margin-top: 35px;
/*    background: #db6e10;*/   
/*    background: #db6e10;*/
    color: #fff;
    font-size: 20px;
    font-family: 'tt_masters_demo_blackregular';
    height: 52px;
    width: 210px;
    line-height: 52px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    border: 1px solid black;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3293a2), to(#004354));
    background-image: -webkit-linear-gradient(top, #3293a2, #004354);
    background-image: -moz-linear-gradient(top, #3293a2, #004354);
    background-image: -ms-linear-gradient(top, #3293a2, #004354);
    background-image: -o-linear-gradient(top, #3293a2, #004354);
    background-image: linear-gradient(to bottom, #3293a2, #004354);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3293a2, endColorstr=#004354);
}
.button:hover {
    box-shadow: inset 0 0 0 5px #31a9b8;
}
/*=== Footer ===*/


@media screen and (max-width:1280px) {
    .video {
        width: 31%;
    }
    .team_mem {
        width: 22%;
    }
    #circle_2,
    #circle_3,
    #circle_4 {
        margin-left: 10%;
    }
    .request {
        margin-left:10%;
    }
    .photo_arrows {
        margin-left: 2%;
    }
     #popUpDiv {
        width:85%;
    }
    .price_wr {
        width:95%;
    }
    .beach,
    .park_beach {
        width:95%;
    }
    .park_beach {
        background-size: 50% 100%;
    }
    .park_beach > h2 {
        margin-left: 50%;
    }

    .bigger {
        height: 300px;
    }
    .park_beach > p {
        margin-left: 50%;

    }
    .hotel {
        width: 100%;
    }
    .photo_wrapper_2 {
        width:96%;
    }
    .room_details {
        width: 95%;
    }
    .ul_wr,
    .res_wr {
        width: 95% !important; 
    }
    .att_wr {
        width: 95%;
    }
    .footer_wr {
        width: 95%;
    }

}

@media screen and (max-width:950px) {
    .photo_arrows {
        width: 60%;
        margin-left: 1%;
    }
    .photo_wrapper {
        width: 86%;
    }
    #photo_arrow_left {
        width: 3%;
        margin-right: 2%;
    }
    #photo_arrow_right {
        width: 3%;
        margin-left: 2%;
    }
    .request {
        width: 40%;
        height: 290px;
    }
    #popUpDiv2,
    #popUpDiv1 {
        width: 700px;
        height: 350px;
    }
    #circle_2,
    #circle_3,
    #circle_4 {
        margin-left: 8%;
    }
    #circle_2_att,
    #circle_3_att,
    #circle_4_att{
        margin-left: 9%;
    }
}
@media screen and (max-width:840px) {

    .txt_after_logo {
        width: 55%;
        margin-left: 0;
    }
    .right_wreath {
        margin-left: 0;
    }
    .video {
        width: 40%;
    }
    .photo_arrows {
        width: 45%;
    }
    .photo_wrapper {
        width: 85%;

    }
    .price {
        margin-top: 0;
    }
    .bigger {
        top: 1200px;
        height: 40%;
        width: 400px;
    }
    .bigger2 {
     top: 2000px;
     height: 70%;
    }
    .park_txt {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width:90%;
    }
/*    #photo_6 {
       position:absolute;
       left:-50%;
       top:0;

    }
    #photo_5 {
        position:absolute;
        top:50%;
        left:-50%;
    }*/
   .reviews .video_review > h1 {
        margin-top: 0;
        margin-bottom: 0;
   }
   .video_review {
    height: auto;
   }
   .video2 {
        width:90%;
        height: 370px;
   }
    .our_team {
        height: 1300px;
    }
    .team_mem {
        width: 26%;
    }
    #right_team {
        margin-left: 4%;
    }
    .circle_wrapper {
        margin-top: 160px;
    }
    #circle {
        margin-top: 50px;
    }
    .circle > p {
        width: 200%;
        margin-left: -50%;
    }
    .circle_wrap1,
    .circle_wrap2 {
        display: block;
    }
    #circle_2,
    #circle_4 {
        margin-left: 28%;
    }
    #circle_3 {
       margin-left: 0; 
    }
    .circle_wrap2 {
        margin-top: 35%; 
    }
    /*#circle_2,
    #circle_3,
    #circle_4 {
        margin-left: 5%;
    }*/
    .video_review {
      /*  height: 50px;*/
        width: 78%;
    }
    #circle_2_att,
    #circle_3_att,
    #circle_4_att {
        margin-left: 6%;
    }

/*    .park_beach {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    }*/
/*    .park_txt > h2 {
        margin-top: 50px;
    }*/
/*    .park_txt > p {
        padding-bottom: 50px;
    }*/
    .room_p {
        display: block;
    }
    .time_pink,
    .time {
        width: 55px;
        height: 90px;
    }
    .value {
        font-size: 40px;
    }
    .organizer {
        width: 45%;
        height: 300px;
    }
    .island {
        height: 530px;
        background-image: url(../images/840_island.png);
        margin-top: -250px;
    }
    .room_details {
        flex-direction: column;
    }
    .room_img_div
    {
        margin-left: auto;
        margin-right: auto;
    }
    .room_p {
        margin-left: 5%;
        margin-right: 5%;
    }
    .time_txt {
        left: 30px;
    }
    #popUpDiv2,
    #popUpDiv1 {
        width: 600px;
        height: 300px;
    }
    .hotel_img_1 {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:722px) {
    .photo_arrows {
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
    .bigger_2 {
        top: 2000px;
    }
}
@media screen and (max-width:635px) {
    .video {
        width: 75%;
        display: block;
        margin: 0 auto;
    }
    #right  {
        display: inline-block;
    }
    .white_triangle {
        left: 47%;
    }
    .our_team {
        height: 1400px;

    }
    .team_mem {
        height: 100px;
    }
    .team_mem h3 {
        letter-spacing:-1px;
        font-size: 18px;
    }
    
    .video_review {
        height: 300px;
    }

    .circle > p {
        width:130%;
        margin-left: -15%;
    }
    .circle_wrapper {
        margin-top: 50%;
    }
    .circle_wrap2 {
        margin-top: 340px;
    }
    .circle_wrap2_att,
    .circle_wrap1_att {
        display: block;
    }
    #circle_2_att,
    #circle_4_att {
        margin-left: 28%;
    }
    #circle_3_att {
       margin-left: 0; 
    }
    .circle_wrap2_att {
        margin-top: 50px;
    }
    .video2 {
        height: 67%;
    }
    .attention {
        height: 2000px;
    }
    footer {
       margin-top: -800px;
    }
    .organizer,
    .request {
        display: block;
        margin: 0 auto;
        height: 400px;
        width: 450px;
    }
    .request {
        margin-top: 50px;
        height: 290px;
    }
    .request >h3 {
        padding-top: 50px;
    }
    #popUpDiv2,
    #popUpDiv1 {
        width: 450px;
        height: 225px;
    }
    #slider_nav {
        text-align: center;
    }
    .bigger {
        top: 1500px;
        height: 40%;
        width: 400px;
    }
    .bigger_2 {
        top: 2200px;
    }
    .park_txt > h2 {
        margin-top: 50px;
    }
    .exit {
        top: -125%;
        right: -54%;
    }
}

@media screen and (max-width:533px) {
    .park_beach {

    background-color: #eaeaea;
 
    }
    .left_wreath, 
    .right_wreath {
        vertical-align: bottom;
        height:170px;
        width: 15%;
    }
    .date {
        letter-spacing:-2px;
    }
    #div_under_map {
        top:790px;
    }
    .time_pink,
    .time {
        height: 65px;
        width: 40px;
    }
    .value{
        font-size: 28px;
    }
    .time_txt {
        left: 15px;
    }
    #popUpDiv2,
    #popUpDiv1 {
        width: 400px;
        height: 200px;
    }
    .island {
        background-image:url(../images/480_island.png);
        margin-top: -200px;
    }
    #a_point1 {
        top: 45%;
        left: 90%;
    }
    #a_point2 {
        top: 20%;
        left: 80%; 
    }
    #a_point3 {
        top: 40%;
        left: 75%;
    }
    #a_point4 {
        top: 35%;
        left: 55%;
    }
    #a_point5 {
        top: 47%;
        left: 45%;
    }
    #a_point6 {
        top: 32%;
        left: 37%;   
    }
    #a_point7 {
        top: 50%;
        left: 7%;
    }
    #a_point8 {
        top: 36%;
        left: 15%;
    }
    #a_point9 {
        top: 65%;
        left: 10%;
    }
    #a_point0 {
        top: 50%;
        left: 30%;
    }

    .bigger {
        top: 1500px;
        height: 40%;
        width: 400px;
    }
    .bigger_2 {
        top: 2300px;
    }
    .park_txt > h2 {
        margin-top: 20px;
    }
}

@media screen and (max-width:480px) {

    #div_under_map {
        width: 64%;
        height: 130px;
        top: 690px;

    }
    #right  {
        display: none;
    }
    .white_triangle {
        left: 45%;
    }
    .photo_wrapper {
        width:84%;
    }
    .photo_arrows {
        width: 90%;
        margin-left:auto;
        margin-right:auto;
    }
    #slider {
        width:1190px;
    }
    .photo {
        width: 120px;
    }
    .bigger {
        height: 40%;
        width: 95%;
    }
    .our_team {
        height: 1500px;
    }
    .team_mem {
        height: 80px;
    }
    .team_mem h3 {
        /*margin-top: 85px;*/
    }
    .circle_wrapper {
        margin-top: 80%;
    }
    #circle_2,
    #circle_4 {
        margin-left: 10%;
    }
    .video_review {
        height: 240px;
    }
    #circle_2_att,
    #circle_4_att {
        margin-left: 6%;
    }
    .video_review {
        width: 90%;
    }
    .video2 {
        height: 60%;
    }

    footer {
        margin-top: -700px;
    }
    .organizer,
    .request {
        display: block;
        margin: 0 auto;
        height: 300px;
        width: 80%;
    }
    .request {
        margin-top: 50px;
    }
    #popUpDiv2,
    #popUpDiv1 {
        width: 350px;
        height: 200px;
    }
    .bigger {
        top: 1500px;
    }
    .bigger_2 {
        top: 2400px;
    }
    .hotel_img_1 {
    	width: 100%;
    }
}
@media screen and (max-width:410px) {
    .our_team {
        height: 1900px;
    }
    .circle {
        display: block;
        margin-left:auto !important;
        margin-right: auto;
        position: relative;
    }
    .circle > h2 {
        margin-top: 100%;
        position: absolute;
       
      
    }
    .circle > p {
        margin-top: 120%;
        position: absolute;
        width: 280px;
        margin-left: -50%;
    }
    .inner_circle {
        position: absolute;
    }
    .circle_wrapper {
        margin-top: 350px;
    }
    .circle_wrap2 {
        margin-top: 200px;
    }
    #circle_4 {
        margin-top: 200px;
    }
    #circle_2 {
        margin-top: 200px;
    }
    .video_review {
        width: 100%;
        margin-top: 50px;
    }
    .room_img_div {
        width: 90%;
        height: auto;
    }
    .room_details_img {
        width: 100%;
    }
    .time_pink,
    .time {
        height: 52px;
        width: 32px;
    }
    .value{
        font-size: 22px;
    }
    .time_txt {
        left: 10px;
        font-size: 16px;
    }
    #popUpDiv2,
    #popUpDiv1 {
        width: 300px;
        height: 200px;
    }
    .island {
        margin-top: -150px;
    }
    .bigger {
        top: 1450px;
    }

}
@media screen and (max-width:342px) {

    .left_wreath, 
    .right_wreath {
        height:210px;
        width: 15%;
    }
     .video_review {
        height: 350px;
    }
    .time_pink,
    .time {
        height: 47px;
        width: 29px;
    }
    .value{
        font-size: 20px;
    }
    .video_photo {
        margin-top: -50px;
    }
    #popUpDiv2,
    #popUpDiv1 {
        width: 250px;
        height: 200px;
    }
    .bigger {
        top: 1450px;
    }
    .photo_arrows {
        margin-left:8px;
        margin-right: 0;
    }
}

.pinky {
    background-color: #a55653;
}