/*if screen is very small, then don't scale*/
@media screen and (max-width:318px) {
    #page-wrapper {
        width: 320px;
    }
}

@media screen and (max-width:480px) {
    .right_wreath,
    .left_wreath {
    width: 15%;
   
    }
    .video {
       width: 95%;
    }
    .photo_wrapper {
        width: 290px;
    }

}

@media screen and (max-width:779px) {
    .after_logo_wrapper {
        width: 100%;
    }
    .txt_after_logo {
        width: 100%;
    }
    .intro_txt {
        width:350px; 
    }
}
/*move video and photo*/
@media screen and (max-width:1050px) {
    .video_photo_wr {
        width: 100%;
    }
    .video {
       display: block;
       margin-left: auto;
       margin-right: auto;
    }
    .photo_wrapper {
        display: block;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .team_wr {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .team_mem {
        margin: 0 auto;
    }

}

@media screen and (max-width:1880px) {
 /*   #page-wrapper {
        width: 100%;
    }*/
    .island {
        display: block;
        width: 100%;
    }
}